{% extends 'tournament_creator/base.html' %}

{% block title %}Password Set - DDC Tournament Manager{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">Password updated</div>
            <div class="card-body">
                <p>Your password has been set. You can now log in.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
