{% extends 'tournament_creator/base.html' %}

{% block title %}Password Changed - DDC Tournament Manager{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-success mt-4">
            <h4 class="alert-heading">Password Changed Successfully!</h4>
            <p>Your password has been changed. You can now use your new password to log in.</p>
            <hr>
            <a href="{% url 'tournament_list' %}" class="btn btn-primary">Go to Tournaments</a>
        </div>
    </div>
</div>
{% endblock %}
